<% if (expenses.length > 0) { %> 
    <hr class="mt-5"/>
    <% if (pages > 0) { %> 
    <div class="container">
        <div class="row">
            <div class="col-10">Page</div>
            <select onchange="getExpensepage()" id="page" class="form-select col-sm" aria-label="select-page" data-pages="<%=pages%>">                
                <% for (let i=0; i < pages; i++) { %>
                <option <% if (page == i) { %>selected<% } %>>
                    <%=i%>
                </option>
                <%} %>
            </select>
        </div>
    </div>
    <% } %>
    <table class="table bordered striped">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Descrition</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="addNewExpense">
            <%- include('expenseDataRow.ejs') %>
        </tbody>
    </table>
<% } %>