<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
    <div class="container w-100 mt-5">
        <div class="p-5 container bg-white border border-warning rounded">
            <div id="isPremium" hidden class="m-3 text-center text-white bg-warning">
                You are Premium User
                <button onclick="showLeaderboard()" class="m-1 btn btn-secondary btn-sm">show Leadersboard</button>                
            </div>
            <button onclick="buyPremium()" class="btn btn-primary">Buy Premium</button>
            <info id="expenseError"class="text-center text-danger"></info>
            <h1 class="text-center">Expenses</h1>
            <!-- <form onsubmit="addExpense()"> -->
            <form onsubmit="addExpense()">
                
                <div class="form-group">
                    <label for="imputAmount">Amount</label>
                    <input id="inputAmount" class="form-control" type="number" name="amount" required>    
                </div>

                <div class="form-group">
                    <label for="imputDescription">Description</label>
                    <input id="inputDescription" class="form-control" type="text" name="description" required>    
                </div>
                <div class="form-group">
                    <label for="imputCategory">Category</label>
                    <select id="inputCategory" class="form-control" type="text" name="category" required>
                        <option>Food</option>
                        <option>Fuel</option>
                        <option>Powder</option>
                    </select>
                </div>
                
                <button class="btn btn-success w-100 mt-4 ">
                    Add Expense
                </button>
            </form>
            <div id="pages">Page</div>
            <div id="expenseData"></div>
            <div id="leadersboardData"></div>
        </div>
        <div>
            <button onclick="download()">Downlaod</button>
        </div>
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/main.js"></script>
</body>

</html>