<% if (leaderboard.length > 0) { %> 
    <h1>Expense Leadersboard</h1>
    <table class="mt-5 table bordered striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total Expense</th>
            </tr>
        </thead>
        <tbody>
            <% for ( user of leaderboard) { %> 
                <tr id="lb-<%= user.id %>">
                    <td><%= user.name %></td>
                    <td><%= user.totalExpense %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
<% } %>