<form class="container">
    <div class="mb-3 row">
        <label for="csvFile" class="form-label col-4">Import CSV for add report</label>
        <input class="form-control form-control-sm col m-1" id="csvFile" type="file">
        <button onclick="uploadCSV()" class="btn btn-warning col-2">Upload CSV</button>
    </div>
</form>
