
    <h3>Yearly report</h3>
    <table class="mb-5 table bordered striped">
        <thead>
            <tr>
                <th>Month</th>
                <th>Income</th>
                <th>Expense</th>
                <th>Savings</th>
            </tr>
        </thead>
        <tbody id="#">
            
        </tbody>
    </table>
